.banner{
  border-radius: 45px;
  overflow: hidden
}
.banner img{
  width: 100%;  
}

/* Button */

.btn{
  width:100%;
}

.btn button{
  margin: 5%;
  padding: 16px 20px;
  background-color: red;
  border-radius: 45px;
  width: 80%;
  font-size: 20px;
}
.btn button a{
  color: white;
  text-decoration: none;

}

.btnBackMenu{
  display:flex;
  justify-content: space-between;
  align-items: center;  
  padding: 20px;
}
.btnBackMenu a{
  font-family: "Segoe UI";
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
    color: rgb(85, 117, 177);
}

/* Item Products List */
.link-item{
text-decoration: none;
}
.container{
  border: solid 2px black;
  border-radius: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 65% 40%;

}
.container :nth-child(1) h2{
  text-decoration: none;
  color:brown;
  font-family: 'arial';
  font-size: 1.5rem;
  padding-left: 10px;
  margin:10px 2px;
}
.container :nth-child(1) p {  
  font-family: 'arial';
    font-size: .8rem;
    padding: 5px 1px 4px 9px;
    margin: 10px 2px;
}
.container :nth-child(1) h4 {
  font-family: 'arial';
  font-size: 1rem;
  font-weight:bold;
  padding: 1px 1px 4px 9px;
  margin: 10px 2px;
}

.container :nth-child(2)  {
  max-width: 85%;
  
  
}
.container :nth-child(2) img {
  width:100% ;
  overflow: hidden;
  border-radius: 10px;
  margin: 5% 0% 3% 0%;;
  
}
